version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
      time: "07:00"
      timezone: "Europe/Berlin"
  - package-ecosystem: mix
    directory: "/"
    schedule:
      interval: "daily"
      time: "07:00"
      timezone: "Europe/Berlin"
  - package-ecosystem: "npm"
    directory: "/assets"
    schedule:
      interval: "daily"
      time: "07:00"
      timezone: "Europe/Berlin"
