use Mix.Config

database_host = System.get_env("DATABASE_HOST") || "db"

# Configure your database
#
# The MIX_TEST_PARTITION environment variable can be used
# to provide built-in test partitioning in CI environment.
# Run `mix help test` for more information.
config :phoenix_starter, PhoenixStarter.Repo,
  username: "postgres",
  password: "postgres",
  database: "database_test#{System.get_env("MIX_TEST_PARTITION")}",
  hostname: database_host,
  pool: Ecto.Adapters.SQL.Sandbox
