name: Test

on:
  push:
    branches: master
  pull_request:
    branches: master

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    env:
      DATABASE_HOST: localhost

    services:
      postgres:
        image: postgres:13.1
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: database_test
          PGDATA: /var/lib/postgresql/data/pgdata
        ports:
          - "5432:5432"
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - uses: actions/checkout@v2
      - name: Set up Elixir
        uses: actions/setup-elixir@v1
        with:
          elixir-version: "1.11.2" # Define the elixir version [required]
          otp-version: "23.0" # Define the OTP version [required]
      - name: Copy config templates
        working-directory: "config"
        run:
          - cp dev.exs.example dev.exs
          - cp test.exs.example test.exs
      - name: Set up node
        uses: actions/setup-node@v1
        with:
          node-version: "15"
      - name: Restore deps cache
        uses: actions/cache@v2
        with:
          path: |
            **/_build
            **/deps
          key: ${{ runner.os }}-mix-${{ hashFiles('**/mix.lock') }}
          restore-keys: ${{ runner.os }}-mix-
      - name: Restore npm cache
        uses: actions/cache@v2
        with:
          path: assets/node_modules
          key: ${{ runner.os }}-npm-${{ hashFiles('**/package-lock.json') }}
          restore-keys: ${{ runner.os }}-npm-
      - name: Install dependencies
        run: mix deps.get
      - name: Check Elixir formatting
        run: mix format --check-formatted
      - name: Install NodeJS deps
        run: npm install
        working-directory: ./assets
      - name: Check JS and CSS formatting
        run: npm run lint
        working-directory: ./assets
      - run: npm ci
        working-directory: ./assets
      - run: npm run deploy
        working-directory: ./assets
      - name: Run tests
        run: mix test
